make_backups/4488407_Automated_Contracting_DocuSign_LOR.json
{
  "code": "OK",
  "response": {
    "blueprint": {
      "flow": [
        {
          "id": 1,
          "mapper": {},
          "module": "gateway:CustomWebHook",
          "version": 1,
          "metadata": {
            "restore": {
              "parameters": {
                "hook": {
                  "data": {
                    "editable": "true"
                  },
                  "label": "Airtable - Send Contract Trigger"
                }
              }
            },
            "designer": {
              "x": 0,
              "y": 0
            },
            "parameters": [
              {
                "name": "hook",
                "type": "hook:gateway-webhook",
                "label": "Webhook",
                "required": true
              },
              {
                "name": "maxResults",
                "type": "number",
                "label": "Maximum number of results"
              }
            ]
          },
          "parameters": {
            "hook": 2075148,
            "maxResults": 1
          }
        },
        {
          "id": 3,
          "mapper": {
            "id": "{{1.recordId}}",
            "base": "apptqydlALDDvUmk4",
            "table": "tblHX7pn8tKQdXv3X",
            "record": {
              "Status": "Send Contract"
            },
            "typecast": true,
            "useColumnId": false
          },
          "module": "airtable:ActionUpdateRecords",
          "version": 3,
          "metadata": {
            "designer": {
              "x": 300,
              "y": 0
            }
          },
          "parameters": {
            "__IMTCONN__": 7692537
          }
        },
        {
          "id": 4,
          "mapper": {
            "id": "{{1.recordId}}",
            "base": "apptqydlALDDvUmk4",
            "table": "tblHX7pn8tKQdXv3X"
          },
          "module": "airtable:ActionGetRecord",
          "version": 3,
          "metadata": {
            "restore": {
              "mapper": {
                "base": {
                  "label": "Peril Claims Engine"
                },
                "table": {
                  "label": "Claims"
                }
              },
              "parameters": {
                "__IMTCONN__": {
                  "data": {
                    "scoped": "true",
                    "connection": "airtable"
                  },
                  "label": "Peril Adjusters Airtable"
                }
              }
            },
            "designer": {
              "x": 450,
              "y": 0
            }
          },
          "parameters": {
            "__IMTCONN__": 7692537
          }
        },
        {
          "id": 5,
          "mapper": {
            "qs": [],
            "url": "/v2.1/accounts/cc7f122f-0b81-4c88-8e5e-d0e008d73515/envelopes",
            "body": "{\"templateId\":\"277b227d-58f8-469c-ab5b-f1bed1cb767a\",\"status\":\"sent\",\"templateRoles\":[{\"roleName\":\"Client\",\"name\":\"{{4.`Insured Name`}}\",\"email\":\"{{4.`Insured Email`}}\",\"tabs\":{\"textTabs\":[{\"tabLabel\":\"Text bb7024aa-4e16-408c-b3a0-1eefa49a2af2\",\"value\":\"{{4.`Insured Name`}}\"},{\"tabLabel\":\"Text d2ecc4e8-804e-469f-b706-949f72c72ce1\",\"value\":\"{{4.`Property Address`}}\"},{\"tabLabel\":\"Text 75f28c7a-bf74-4896-b86c-000d3c27dad4\",\"value\":\"{{4.`Loss Type`}}\"},{\"tabLabel\":\"Text 937c039a-eb7f-4c9d-8442-e8639df43989\",\"value\":\"{{4.`Date of Loss`}}\"},{\"tabLabel\":\"Text 31c41d3d-50b9-4c2d-9bae-441dbd056466\",\"value\":\"{{4.`Carrier Name`}}\"}]}}]}",
            "method": "post",
            "headers": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ],
            "bodyType": "raw",
            "contentType": "application/json",
            "select_account": "{ \"accountId\": \"cc7f122f-0b81-4c88-8e5e-d0e008d73515\", \"baseUri\": \"https://na3.docusign.net\" }"
          },
          "module": "docusign:makeApiCall",
          "onerror": [
            {
              "id": 6,
              "mapper": {
                "count": "3",
                "retry": true,
                "interval": "15"
              },
              "module": "builtin:Break",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "retry",
                    "type": "boolean",
                    "label": "Automatically complete execution",
                    "required": true
                  },
                  {
                    "name": "count",
                    "type": "uinteger",
                    "label": "Number of attempts",
                    "required": true,
                    "validate": {
                      "max": 10000,
                      "min": 1
                    }
                  },
                  {
                    "name": "interval",
                    "type": "uinteger",
                    "label": "Interval between attempts",
                    "required": true,
                    "validate": {
                      "max": 44640,
                      "min": 1
                    }
                  }
                ],
                "restore": {
                  "expect": {
                    "retry": {
                      "mode": "chose"
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 0
                }
              },
              "parameters": {}
            }
          ],
          "version": 1,
          "metadata": {
            "restore": {
              "expect": {
                "qs": {
                  "mode": "chose"
                },
                "headers": {
                  "mode": "chose"
                },
                "bodyType": {
                  "label": "Raw"
                },
                "contentType": {
                  "label": "JSON (application/json)"
                },
                "select_account": {
                  "label": "Jerad Watson"
                }
              },
              "parameters": {
                "__IMTCONN__": {
                  "data": {
                    "scoped": "true",
                    "connection": "docusign"
                  },
                  "label": "Peril Adjusters DocuSign (jerad@periladjusters.com)"
                }
              }
            },
            "designer": {
              "x": 900,
              "y": 0
            }
          },
          "parameters": {
            "__IMTCONN__": 7692500
          }
        }
      ],
      "name": "Automated Contracting (DocuSign LOR)",
      "metadata": {
        "instant": true,
        "version": 1,
        "designer": {
          "orphans": []
        },
        "scenario": {
          "dlq": true,
          "slots": null,
          "dataloss": false,
          "maxErrors": 100,
          "autoCommit": true,
          "roundtrips": 1,
          "sequential": false,
          "confidential": false,
          "freshVariables": false,
          "autoCommitTriggerLast": true
        }
      }
    },
    "scheduling": {
      "type": "immediately"
    },
    "concept": false,
    "created": "2026-03-22T23:23:24.904Z",
    "last_edit": "2026-03-31T21:53:29.917Z",
    "metadata": {
      "input_spec": [],
      "output_spec": []
    },
    "idSequence": 7
  }
}